---
const bags = [
  {
    name: "Specialty Beany Grano",
    price: "$ 14,00",
    image: "/bag-specialty-grano.webp",
    alt: "bag item specialty grano",
  },
  {
    name: "Specialty Beany Molido",
    price: "$ 14,00",
    image: "/bag-specialty-molido.webp",
    alt: "bag item specialty molido",
  },
  {
    name: "Original Classic Grano",
    price: "$ 9,00",
    image: "/bag-original-classic-grano.webp",
    alt: "bag item original grano",
  },
  {
    name: "Original Classic Molido",
    price: "$ 9,00",
    image: "/bag-original-classic-molido.webp",
    alt: "bag item original molido",
  },
];

const title = "Café molido y en grano";
---

<div id="bag-coffee" class="bg-stone-100">
  <div class="mx-auto max-w-7xl py-24 ">
    <div class="text-center">
      <h1 class="font-semibold text-5xl text-balance text-stone-700">
        {title}
      </h1>
      <section class="flex flex-wrap justify-center">
        {
          bags.map((item) => (
            <div class="basis-md">
              <img
                class="hover:scale-110 hover:transition-transform duration-400"
                src={item.image}
                alt={item.alt}
              />
              <h2 class="font-semibold text-4xl text-stone-700">{item.name}</h2>
              <p class="font-semibold text-2xl text-stone-700">{item.price}</p>
            </div>
          ))
        }
      </section>
    </div>
  </div>
</div>
