---
const items = [
  {
    src: "/public/capsule-original.webp",
    alt: "capsule item original",
    text: "Original Classic",
    price: "8,50",
  },
  {
    src: "/public/capsule-working.webp",
    alt: "capsule item working",
    text: "Working Beany",
    price: "9,50",
  },
  {
    src: "/public/capsule-colombia.webp",
    alt: "capsule item colombia",
    text: "Colombia",
    price: "9,50",
  },
  {
    src: "/public/capsule-cloudy.webp",
    alt: "capsule item cloudy",
    text: "Cloudy Beany",
    price: "9,00",
  },
];

const title = "Café en cápsulas";
---

<div id="capsules" class="bg-stone-100">
  <div class="mx-auto max-w-7xl py-24 ">
    <div class="text-center">
      <h1 class="font-semibold text-5xl text-balance text-stone-700">
        {title}
      </h1>
      <section class="flex flex-wrap justify-center">
        {
          items.map((item) => (
            <div class="basis-md">
              <img
                class="hover:scale-110 hover:transition-transform duration-400"
                src={item.src}
                alt={item.alt}
              />
              <h2 class="font-semibold text-4xl text-stone-700">{item.text}</h2>
              <p class="font-semibold text-2xl text-stone-700">
                $ {item.price}
              </p>
            </div>
          ))
        }
      </section>
    </div>
  </div>
</div>
